<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD clientes</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'ler_pagina' 'cliente_criar' %}">Criar cliente</a></li>
        <li><a href="{% url 'ler_pagina' 'cliente_listar' %}">Listar clientes</a></li>
        <li><a href="{% url 'ler_pagina' 'cliente_atualizar' %}">Atualizar cliente</a></li>
        <li><a href="{% url 'ler_pagina' 'cliente_deletar' %}">Deletar cliente</a></li>
    </ul>
</body>
</html>