<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD administradores</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'ler_pagina' 'administrador_criar' %}">Criar administrador</a></li>
        <li><a href="{% url 'ler_pagina' 'administrador_listar' %}">Listar administradores</a></li>
        <li><a href="{% url 'ler_pagina' 'administrador_atualizar' %}">Atualizar administrador</a></li>
        <li><a href="{% url 'ler_pagina' 'administrador_deletar' %}">Deletar administrador</a></li>
    </ul>
</body>
</html>